
/* 
    ------------------------------
    HELPERS
    ------------------------------
*/

.text-center {
    text-align: center;
}

.highlight-text-color {
    color: #49a6ae;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.font-70 {
    font-size: 70px;
}

.font-50 {
    font-size: 50px;
}

.font-40 {
    font-size: 40px;
}

.font-30 {
    font-size: 30px;
}

.media-100-width {
  width: 100%;
}

.no-display {
  display: none;
}

.padding-top-50 {
    padding-top: 50px;
}

/* 
    ------------------------------
    MAIN CONTAINER
    ------------------------------
*/



/* 
    ------------------------------
    MEDIA SECTION
    ------------------------------
*/


#media-main {
    
}

#media-slideshow {
  position: relative;
}

#media-slideshow > div { 
  position: absolute;
  width: 100%; 
}



/* 
    ------------------------------
    CLOCK SECTION
    ------------------------------
*/

#clock-main {
    
}






/* 
    ------------------------------
    EVENTS SECTION
    ------------------------------
*/

.titleText {
    font-weight: bold;
    font-size: 18px;
}

.pdfButton {
    padding: 9px 18px;
    font-size: 1.1487em;
    line-height: 1;
    border: none;
    font-weight: normal;
    background: #00a8b0;
    margin: 10px 0;
    border-radius: 4px;
}

.pdfButton > .landingButton {
    color:white;
}

.pdfButton:hover{
    background: darken(#00a8b0, 5%);
}

.eventLink {
    padding: 10px 0;
    color: initial;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(15,70,100,0.12);
    font-size: 16px;
    font-weight: normal;
}

.eventLink:hover {
    background-color: rgba(160,200,220,0.12);
    color: #00467F !important;
}

.eventLink:visited{
    color: initial;
}

.eventListTitle {
    margin: 8px 0;
    font-size: 35px;
    font-weight: 900;
    color: #00a8b0;
}

.eventItemWrapper {
    padding: 5px 10px;
}

.titleText {
    font-weight: bold;
    font-size: 18px;
}

.categoryText {
    font-size: 14px;
    padding: 3px 0;
    color: white;
}

.categoryText span {
  padding: 4px;
}

.mt-5px {
  margin-top: 5px;
}

.timesWrapper {
    display: inline-block;
    margin: 6px 0px;
}

.startTime {
    display: inline-block;
}

.startTime:after{
    content: '-';
    margin: 0 14px;
}

.endTime {
    display: inline-block;
}

.speakerText {
    color: #00467F;
    font-weight: 600;
}

/*
.eventsWrapper {
    display: flex;
    justify-content: space-between;
}


.eventsContainer .ember-view:not(:first-child) {
    position: relative;
    top: -2px;
}
*/