/*
	COLORS:
	 - #00a8b0
*/


/* MAIN CONTAINER */
.landing-page-plugin-container {
  margin-bottom: 30px;
}



/*
*  
*  LANDING MEDIA START
*
*/

.landing-media {
  width: 100%;
}


/*
*  
*  LANDING MEDIA END
*
*/




/*
*  
*  HELPER CLASSES START
*
*/

.highlight-text-color {
    color: #49a6ae;
}

.text-center {
    text-align: center;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

/*
*  
*  HELPER CLASSES END
*
*/




/* Clock stuff */

.clockMain {
    margin-bottom: 80px;
    display: none;
}

.clockWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeNumber {
    font-size: 6em;
    padding: 20px;
    font-weight: 600;
    color: #00a8b0;
}

.clockSeparator {
    font-size: 6em;
    font-weight: 600;
    color: #00a8b0;
}

.smalltext {
    display: none;
}

.daysWrapper + .separatorWrapper {
  display: none;
}

/**************/

.pdfButton {
    padding: 9px 18px;
    font-size: 1.1487em;
    line-height: 1;
    border: none;
    font-weight: normal;
    background: #00a8b0;
    margin: 10px 0;
    border-radius: 4px;
}

.pdfButton > .landingButton {
    color:white;
}

.pdfButton:hover{
    background: darken(#00a8b0, 5%);
}

.eventLink {
    padding: 10px 0;
    color: initial;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(15,70,100,0.12);
    font-size: 16px;
    font-weight: normal;
}

.eventLink:hover {
    background-color: rgba(160,200,220,0.12);
    color: #00467F !important;
}

.eventLink:visited{
    color: initial;
}

.eventsWrapper {
    display: flex;
    justify-content: space-between;
}


/* 
    MEDIA QUERIES
*/

@media (max-width: 400px) {
  .eventsWrapper {
    display: block;
  }
  .timeNumber {
      font-size: 3em;
  }
  .clockSeparator {
      font-size: 3em;
  }
}

.eventListWrapper {
    col: 1;
    width: 32%;
}

@media (max-width: 400px) {
  .eventListWrapper {
    width: initial;
  }
}

.eventsContainer .ember-view:not(:first-child) {
    position: relative;
    top: -2px;
}

.eventListTitle {
    margin: 8px 0;
    font-size: 35px;
    font-weight: 900;
    color: #00a8b0;
}

.eventItemWrapper {
    padding: 5px 10px;
}

.titleText {
    font-weight: bold;
    font-size: 18px;
}

.categoryText {
    font-size: 14px;
    padding: 3px 0;
    color: white;
}

.categoryText span {
  padding: 4px;
}

.mt-5px {
  margin-top: 5px;
}

.timesWrapper {
    display: inline-block;
    margin: 6px 0px;
}

.startTime {
    display: inline-block;
}

.startTime:after{
    content: '-';
    margin: 0 14px;
}

.endTime {
    display: inline-block;
}

.speakerText {
    color: #00467F;
    font-weight: 600;
}