/*
	COLORS:
	 - #00a8b0
*/


.multimedia {
  display: flex;
  align-items: center;
  justify-content: space-around;    
}

.landingMedia {
    max-width: 75%;
}

/* Clock stuff */
.clockMain {
    display: block;
}

.clockWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeNumber {
    font-size: 6em;
    padding: 20px;
    font-weight: 600;
    color: #00a8b0;
}

.clockSeparator {
    font-size: 6em;
    font-weight: 600;
    color: #00a8b0;
}

.smalltext {
    display: none;
}

.daysWrapper + .separatorWrapper {
  display: none;
}

/**************/

.pdfButton {
    padding: 9px 18px;
    font-size: 1.1487em;
    line-height: 1;
    border: none;
    font-weight: normal;
    background: #00a8b0;
    margin: 10px 0;
    border-radius: 4px;
}

.pdfButton > .landingButton {
    color:white;
}

.pdfButton:hover{
    background: darken(#00a8b0, 5%);
}

.eventLink {
    padding: 10px 0;
    color: initial;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(15,70,100,0.12);
    font-size: 16px;
    font-weight: normal;
}
.eventLink:hover {
    background-color: rgba(160,200,220,0.12);
    color: #00467F !important;
}
.eventLink:visited{
    color: initial;
}

.eventsWrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 400px) {
  .eventsWrapper {
    display: block;
  }
  .timeNumber {
      font-size: 3em;
  }
  .clockSeparator {
      font-size: 3em;
  }
}

.eventListWrapper {
    col: 1;
    width: 32%;
}

@media (max-width: 400px) {
  .eventListWrapper {
    width: initial;
  }
}

.eventsContainer .ember-view:not(:first-child) {
    position: relative;
    top: -2px;
}

.eventListTitle {
    margin: 8px 0;
    font-size: 35px;
    font-weight: 900;
    color: #00a8b0;
}

.eventItemWrapper {
    padding: 5px 10px;
}

.categoryText {
    font-weight: bold;
}

.titleText {
    font-size: 17px;
    padding: 3px 0;
}

.timesWrapper {
    display: inline-block;
    margin: 6px 0px;
}

.startTime {
    display: inline-block;
}

.startTime:after{
    content: '-';
    margin: 0 14px;
}

.endTime {
    display: inline-block;
}

.speakerText {
    color: #00467F;
    font-weight: 600;
}