{{#if showLandingPage}}

<div id="landing-page-plugin-container">

  <!-- Clock -->
  <div class="grid-center clock-main margin-bottom-50">
    <div class="col clock-remaining-container">
        <p id="clock-remaining-input"></p>
        <p> until the event starts! </p>
    </div>
  </div>

</div>

{{/if}}