{{#if showLandingPage}}

<div id="landing-page-plugin-container">

  <!-- MEDIA -->
  <div class="grid-center media-main margin-bottom-50">
    <div class="col-10_xs-12" id="custom-slideshow">
      
      <div>
        <img class="landing-media" src="/plugins/Imagine-NUI-Galway-Landing-Page/images/carousel_1.png" />
      </div>

      <div class="no-display">
        <img class="landing-media" src="/plugins/Imagine-NUI-Galway-Landing-Page/images/carousel_2.png" />
      </div>
      
      <div class="no-display">
        <img class="landing-media" src="/plugins/Imagine-NUI-Galway-Landing-Page/images/carousel_3.png" />
      </div>

    </div>
  </div>


  <!-- Clock -->
  <div class="grid-center clock-main margin-bottom-50 no-display">
    <div class="col">
        
    </div>
  </div>

  <!-- Events -->
  <div class="grid events-main margin-bottom-50 no-display">
    <!-- Now On -->
    <div class="col-4_xs-12_sm-6">
      {{event-list events=liveEvents label="Now On"}}
    </div>

    <!-- Comming up -->
    <div class="col-4_xs-12_sm-6">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>

    <!-- Buttons + twitter -->
    <div class="col-4_xs-12_sm-12">
      <div class="otherItemList">
          <div class="pdfButton scheduleButton">
            <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
            <a href="https://www.nuigalway.ie/imagine/schedule/" target="_blank" class="landingButton scheduleButton">Schedule / Sceideal</a>
          </div>
          <div class="pdfButton aboutButton">
            <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
            <a href="https://www.nuigalway.ie/imagine/faqs/" target="_blank" class="landingButton aboutButton">FAQs</a>
          </div>
          <div class="pdfButton aboutButton">
            <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
            <a href="https://youtu.be/klCx34Y9C0w" target="_blank" class="landingButton aboutButton">Message from the President</a>
          </div>
          <a
            class="twitter-timeline"
            href="https://twitter.com/nuigalway"
            data-height="500">Tweets by NUI Galway</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
  </div>


</div>

{{/if}}