{{#if showLandingPage}}
<div class="landingMain">
  
  <!-- HOLDING IMAGE -->
  <div class="multimedia">
    <img class="landingMedia" src="/plugins/Imagine-NUI-Galway-Landing-Page/images/Imagine_logo_Eng.png" alt="Holding image" />
  </div>


  <!-- CLOCK -->
  <div class="clockMain">
    <div class="clockWrapper" id="clockdiv">
      
      <div class="timeWrapper daysWrapper">
        <span class="days timeNumber">00</span>
        <div class="smalltext">Days</div>
      </div>

      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>
      
      <div class="timeWrapper hoursWrapper">
        <span class="hours timeNumber">0</span>
        <div class="smalltext">Hours</div>
      </div>
      
      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>

      <div class="timeWrapper minutesWrapper">
        <span class="minutes timeNumber">0</span>
        <div class="smalltext">Minutes</div>
      </div>
      
      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>

      <div class="timeWrapper secondsWrapper">
        <span class="seconds timeNumber">0</span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>


  <!-- EVENTS -->
  <div class="eventsWrapper">
    <div class="eventListWrapper">
      {{event-list events=liveEvents label="Now On"}}
    </div>
    
    <div class="eventListWrapper">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>


    <div class="eventListWrapper otherWrapper">
      <div class="otherItemList">
        <div class="pdfButton scheduleButton">
          <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
          <a href=""
            target="_blank" class="landingButton scheduleButton">Schedule of Discussions (PDF)</a>
        </div>
        <div class="pdfButton strategyButton">
          <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
          <a href=""
            target="_blank" class="landingButton strategyButton">Outline Strategy (PDF)</a>
        </div>
        <div class="pdfButton aboutButton">
          <!-- <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf" -->
          <a href=""
            target="_blank" class="landingButton aboutButton">About NUI Galway (PDF)</a>
        </div>
        <a
          class="twitter-timeline"
          href="https://twitter.com/nuigalway"
          data-height="500">Tweets by NUI Galway</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
{{/if}}